@charset "utf-8";
body{
	background-image: url("Images/Background 3.jpg");
	background-size: cover;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.menubarlist{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
}
.menubarimg{
	width: 140px;
	height: 140px;
	margin-left: 15px;
	margin-top: -75px;
}
.listitem{
	float: right;
    display:block;
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-decoration: none;
}
.listitem-left{
	float: left;
    display:block;
    text-align: center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 32px;
	color: black;
	text-decoration: none;
	margin-left: 38%;
	margin-top: 15px;
	padding: 15px 16px;
	font-weight: bold;
}
.listitem a{
	color: black;
	display:block;
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-decoration: none;
	margin: 15px 15px 0px;
	padding: 15px 16px;
	border-bottom: 3px solid #134C88;
	border-top: 3px solid #134C88;
}
.listitem :hover{
	border-radius: 5px;
	color: white;
	background-color: #134C88;
}
.women{
	margin-top: 60px;
	display: block;
	padding: 15px 50px;
	background-color: #CE9F48;
	width: 70%;
	height: 380px;
	border-radius: 10px;
	margin-left: 11.5%;
}
.women-img{
	height: 350px;
	width: 225px;
	display: inline;
	float: left;
	margin-right: 25px;
}
.women-heading{
	color: black;
	font-size: 28px;
	display: inline;
	font-weight: bold;
}
.women-age{
	color: black;
	font-size: 20px;
	display: inline;
	font-weight: bold;
}
.women-text{
	color: black;
	font-size: 18px;
	text-decoration: none;
}
.footer{
	background-color: #D6A205;
	padding: 20px 25px;
	margin-top: 60px;
}
.fa {
  padding: 15px;
  font-size: 22px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border:1px solid black;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border:1px solid black;
}
.fa-instagram {
  background: #125688;
  color: white;
  border:1px solid black;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
  border:1px solid black;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border:1px solid black;
}
.follow{
	margin-left: 100px;
}
.copyright{
	color: black;
	text-decoration: none;
	font-size: 13px;
	float: right;
}
.about{
	background-color:#654A57;
	padding: 30px 40px;
	color: black;
	margin-top: 60px;
	height:200px;
		border-radius: 10px;
}
.about-img{
	margin-top: 20px;
	width: 175px;
	height: 175px;
}
.about-list1{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 25%;
	margin-top: -175px;
}
.about-list2{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 45%;
	margin-top: -130px;
}
.about-list3{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 55%;
	margin-top: -128px;
}
.about-list-item-heading{
	color: white;
}
.about-list-item a{
	color:#BFBFBF;
	text-decoration: none;
}
.about-list-item a:hover{
	color: white;
}
.about-list-item-text{
	color:#BFBFBF;
	text-decoration: none;
}
.about-list-item-text:hover{
	color: white;
}
.copyright{
	color: white;
	text-decoration: none;
	font-size: 13px;
	float: right;
}