@charset "utf-8";
body{
	background-color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.menubar{
	background-image: url("Images/Background Image1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 678px;
	width: 100%;
	padding-top: 45px;
	margin-top: -10px;
}
.menulist{
 	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
    background-color: #134C88;
    border-radius:50px;
	border: 4px #0E7A9E solid;
	margin-top:5px;
	margin-left: 10px;
	margin-right: 10px;
}
.li1 {
    float: left;
	display:block;
    color: white;
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-decoration: none;
}

.li2 {
    float: right;
    display:block;
    color: white;
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-decoration: none;
}
.li1 a {
    display:block;
    color: white;
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-decoration: none;
	padding: 20px;
}
.li2 a {
    display:block;
    color: white;
    text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	text-decoration: none;
	padding: 20px;
}
.li1 a:hover {
    background-color: #0E7A9E;
}
.li2 a:hover {
    background-color: #0E7A9E;
}
.logo{
	margin-top: -111px;
}
.caption-center{
	text-align: center;
	color: black;
	font-family : Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-top: 535px;
	font-weight: bold;
	font-size: 15px;
	font-style: italic;
}
.entryform{
    background-color:#EFA37F; 
	color:black;
    padding:20px;
	opacity: 0.;
	font-weight: bold;
	text-align: center;
	
}
.entryform:hover{
	background-color: black;
	color:white;
	opacity:0.9;
}
.entryform-1{
	margin-top: -2px;
}
select {
    width: 20%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: royalblue;
	color: white;
	font-size: 18px;
}
.wedding{
	font-size: 50px;
	color: royalblue;
	letter-spacing: 5px;
}
.dropbtn{
		background-color: royalblue;
		color: white;
		padding: 16px 20px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		border-radius: 5px;
		font-weight: bold;
}
.dropdown{
		position: relative;
		display: inline-block;
}
.dropdown-content{
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 159px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	    border-radius: 5px;
}
.dropdown-content a{
		color: black;
		padding: 14px 16px;
		text-decoration: none;
		display: block;
		font-size: 16px;
		border-radius: 5px;
}
.dropdown:hover .dropdown-content{
		display:block;
}
.dropdown:hover .dropbtn{
		background-color: #466E3B;
		color: white;
}
.female{
	background-color: #f9f9f9;
}
.female:hover{
	background-color: hotpink;
	color: black;
}
.male{
	background-color: #f9f9f9;
}
.male:hover{
	background-color: royalblue;
	color: white;
}
.stories{
	background-color:#AEAEAE;
	padding: 50px 0px;
	display: inline-flex;
}
.card {
	background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 10px;
	margin-left: 60px;
	margin-top: 80px;
}
.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}
.relation-card{
	width: 100%;
	height: 50%;
}
.story-text{
	color: royalblue;
    font-size: 30px;
    text-align: center;
    font-family: Raleway,sans-serif!important;
    font-weight: bold;
	margin-top: -735px;
}
.story-text-inside{
	font-size: 18px;
	text-align: center;
	color: black;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	word-spacing: -4px;
}
.about{
	background-color:#654A57;
	padding: 30px 40px;
	color: black;
	margin-top: 660px;
	height:200px;
}
.about-img{
	margin-top: 20px;
	width: 175px;
	height: 175px;
}
.about-list1{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 25%;
	margin-top: -180px;
}
.about-list2{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 45%;
	margin-top: -147px;
}
.about-list3{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 55%;
	margin-top: -128px;
}
.about-list4{
	list-style-type: none;
 	margin: 0;
 	padding: 0px;
    overflow: hidden;
	margin-left: 75%;
	margin-top: -133px;
}
.about-list-item-heading{
	color: white;
}
.about-list-item a{
	color:#BFBFBF;
	text-decoration: none;
}
.about-list-item a:hover{
	color: white;
}
.about-list-item-text{
	color:#BFBFBF;
	text-decoration: none;
}
.about-list-item-text:hover{
	color: white;
}
.copyright{
	color: white;
	text-decoration: none;
	font-size: 13px;
	float: right;
	margin-top: 0px;
}
.main{
  width: 80%;
  padding: 15px;
  margin: 5px 0 0 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}
.main:focus{
  background-color: #ddd;
  outline: none;
}
.msgbtn{
	background-color: #654A57;
	border: 1px solid white;
	padding: 5px 10px;
	margin-top: 3px;
	border-radius: 5px;
}
.msgbtn a{
	color: white;
	font-size: 16px;
	text-decoration: none;
}
.msgbtn a:hover{
	color: #654A57;
}
.msgbtn:hover{
	background-color: white;
}